{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="align-items-center">
      <h2 class="text-center">Registro</h2>
      <form class="d-flex flex-column align-items-center align-middle form-group" method="post" enctype="multipart/form-data">
        {% if user_form.errors %}
          <div class="alert alert-danger" role="alert">
            {{ user_form.errors }}
          </div>
        {% endif %}
        
        {% if profile_form.errors %}
          <div class="alert alert-danger" role="alert">
            {{ profile_form.errors }}
          </div>
        {% endif %}
        
        {% if image_form.errors %}
          <div class="alert alert-danger" role="alert">
            {{ image_form.errors }}
          </div>
        {% endif %}
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {{ image_form.as_p }}
        
        <button class="btn-lg btn-outline-dark" type="submit">Registrarse</button>
      </form>
    </div>
  </div>
{% endblock %}
