<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <!-- Agrega tus estilos CSS si es necesario -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Carrito de Compras</h1>
    
    <!-- Mostrar productos en el carrito -->
    <ul>
        {% for producto in productos_en_carrito %}
            <li>{{ producto.titulo }} - Precio: ${{ producto.precio }}</li>
        {% endfor %}
    </ul>
    
    <!-- Mostrar el total del carrito -->
    <p>Total: ${{ total_carrito }}</p>
    
    <!-- Agrega botones u opciones para el carrito (como proceder al pago, seguir comprando, etc.) -->
    
    <!-- Agrega tus scripts JavaScript si es necesario -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>