{% extends 'base.html' %}

{% block title %}Casas{% endblock  %}

{% block content %}

    <div class="">
        <div class="container pt-4">

            <form class="form-inline" method="get" action="{{ action_url }}">
                <input name="query" class="form-control mr-1" type="text" value="{{ query }}" placeholder="Busca una casa">
                <input name="price" class="form-control mr-1" type="number" value="{{ price }}" placeholder="Precio máximo">
                <button class ="btn btn-secondary">Search</button>
            </form>
            <div class="d-flex mb-4 mt-4">
              {% for categoria in categorias %}
              <a href="{% url 'por_categoria' categoria=categoria.url %}" class="btn btn-warning mr-2 border border-dark">{{ categoria }}</a>
              {% endfor %}
            </div>
        </div>
        <div class="container-fluid pt-4">
          <div class="col-span-3">
              <div class="container">
                  <div class="row">
                    {% for casa in casas %}
                      <div class="col-md-4 mb-4">
                        <div class="card align-items-center">
                          <a href="{% url 'detalle_casa' casa_id=casa.id %}">
                            <img src="{{ casa.imagen }}" class="card-img-top img-thumbnail" style="object-fit: cover; max-width: 15rem; max-height: 15rem;" alt="{{ casa.titulo }}">
                            <div class="card-body">
                              <h5 class="card-title text-center">{{ casa.titulo }}</h5>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
          </div>
        </div>      
    </div>

{% endblock content %}


