<!-- templates/detalle_reclamacion.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Detalles de la Reclamación</h2>
  <p><strong>Usuario:</strong> {{ reclamacion.usuario.username }}</p>
  <p><strong>Casa:</strong> {{ reclamacion.casa.titulo }}</p>
  <p><strong>Texto:</strong> {{ reclamacion.texto }}</p>
  <p><strong>Pretensiones:</strong> {{ reclamacion.pretensiones }}</p>
  <p><strong>Fecha de Publicación:</strong> {{ reclamacion.fecha_publicacion }}</p>
  <p><strong>Contestación: </strong> {{ reclamacion.contestacion }}</p>
  <p><strong>Estado:</strong> {{ reclamacion.estado }}</p>
  <!-- Sección de Comentarios -->
{% endblock %}
