<!-- templates/detalle_casa.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <article class="card">
    <img src="{{ casa.imagen }}" class="card-img-top" style="object-fit: cover; max-width: 50%; max-height: 50%;"
      alt="{{ casa.titulo }}">
    <div class="card-body">
      <h2 class="card-title">{{ casa.titulo }}</h2>
      <p class="card-text">{{ casa.descripcion }}</p>
      <p class="card-text"><strong>Localidad:</strong> {{ casa.localidad }}</p>
      <p class="card-text"><strong>Dirección:</strong> {{ casa.direccion }}</p>

      <form method="post" class="form-group" action="{% url 'agregar_carrito' casa.id %}">
        <h3>Alquilar</h3>
        {% csrf_token %}
        {{ alquiler_form.as_p }}
        <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
      </form>
      <!-- info_casa.html -->
      <a href="{% url 'presentar_reclamacion' casa.id %}" class="btn btn-primary">Presentar Reclamación</a>
    </div>
    {% if es_propietario %}
        <a href="{% url 'anadir_categorias' id=casa.id %}" class="btn btn-secondary mt-4 mb-4">Añadir categorias</a>
    {% endif %}
    <div class="d-flex mb-4">
      {% for categoria in casa.categorias.all %}
      <a href="{% url 'por_categoria' categoria=categoria.nombre %}" class="btn btn-warning mr-2">{{ categoria }}</a>
      {% endfor %}
    </div>
    <a href="#" class="btn btn-primary">Contactar al Arrendador</a>
        <h3>Comentarios</h3>
        <table class="table table-striped">
          <tr>
              {% for comentario in comentarios %}
                  <td>{{ comentario.texto }}</td>
                  <td>Por: {{ comentario.usuario.username }}</td>
              {% endfor %}
          </tr>
        </table>
        {% if not es_propietario %}
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ comentario_form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar Comentario</button>
        </form>
        {% endif %}
</div>
</article>
</div>
{% endblock %}